body {  /* página inteira */
    background: lightgrey;
}

header, footer {    /* cabeçalho */
    background: grey; 
    font-family: 'Bebas Neue', cursive;
}

.logo{ /* logo na header e no footer */
    padding: 10px 0 0 10px; /* cima baixo direita esquerda  || esse padding funciona apenas para a logo no footer*/ 
    max-width: 250px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.menu-navegacao{ /* nav do header */
    position: absolute;
    right: 0;
    top: 30px;
}

.menu-navegacao li { /* itens da lista no nav do header */
    display: inline-block;
    font-size: 2em;
    padding-right: 1.5em;
    text-decoration: none;
}

footer{ /* cabeçalho */
    background: grey;
}

.copyright { /* texto do copyright com a logo no footer */
    text-align: center;
    display: inline-block;
    padding-left: 40%;
    font-size: 22px;
}

footer ul { /* setando a posicao que os icones das redes sociais vao aparecer */
    position: relative;
    left: 80%;
}

footer li { /* setando forma que os icones das redes sociais vao aparecer */
    display: inline-block; /* fazer os icones aparecerem um na frente do outro em vez de quebrar linha */
    padding-left: 5em; /* esse padding serve pra aumentar o espacamento entre cada icone */
}