body {  /* página inteira */
    background: linear-gradient(#5AED83,black);
}

header, footer {    /* background e fonte do cabecalho e do rodape */
    background: black; 
    font-family: 'Bebas Neue', cursive;
}

.logo{ /* logo na header e no footer */
    padding: 10px 0 0 10px; /* cima baixo direita esquerda  || esse padding funciona apenas para a logo no footer*/ 
    max-width: 250px;
    max-height: 300px;
}

.menu-navegacao{ /* nav do header */
    position: absolute;
    right: 0;
    top: 30px;
}

nav .logo{ /* afastando um pouco a logo do header da "parede" */
    padding-left: 20px;
}

.menu-navegacao li { /* itens da lista no nav do header */
    display: inline-block;
    font-size: 26px;
    padding-right: 1.5em;
}

.menu-navegacao a { /* links da lista -> tirando o sublinhado + alterando cor */
    text-decoration: none;
    color: #5AED83;
}

main h1{ /* titulo principal da home page */
    padding-top: 10%;
    font-size: 4em;
    padding-bottom: 10px;
}

main h2 { /* subtitulo da homepage */
    font-size: 1.8em;
    padding-bottom: 10%;
}

.descricao { /* propriedades do botão no meio da home */
    font-family: 'Fredoka', sans-serif;
    margin-left: 36.5%;
    display: inline-block;
    padding-bottom: 11.7%;
}

.descricao a { /* conteudo do botao no meio da pag que leva a tela de cadastro */
    border: 3px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 2.5em;
    font-weight: bold;
}

.descricao:hover{
    transform: scale(1.2);
    transition: 1s;
}

.titulo-index { /* titulos da home page */
    font-family: 'Righteous', cursive;
    text-align: center;
}

.copyright { /* texto do copyright com a logo no footer */
    text-align: center;
    display: inline-block;
    padding-left: 40%;
    font-size: 22px;
    color: #5AED83;
    padding-top: 5px;
}

footer ul { /* setando a posicao que os icones das redes sociais vao aparecer */
    position: relative;
    left: 80%;
}

footer li { /* setando forma que os icones das redes sociais vao aparecer */
    display: inline-block; /* fazer os icones aparecerem um na frente do outro em vez de quebrar linha */
    padding-left: 5em; /* esse padding serve pra aumentar o espacamento entre cada icone */
}